<!DOCTYPE html>
<html>
<head>
  <title>RailsCrud</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<div id="sync-message"></div>
<button id="reload-crud-data">CRUDデータを再読み込み</button>

<!-- ジョブ実行中のメッセージ表示用の要素を追加 -->
<div id="job-message" style="display: none;">ジョブを実行中です。完了するまで操作しないでください。</div>

<%= yield %>
</body>
</html>